html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

#main {
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

details.heading summary h1,
details.heading summary h2,
details.heading summary h3,
details.heading summary h4,
details.heading summary h5,
details.heading summary h6 {
    display: inline-block;
    margin: 0;
    vertical-align: sub;
}
